<!-- Navbar -->
<nav
  class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
>
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/">
      <strong class="blue-text">Beeshop</strong>
    </a>

    <!-- Collapse -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'shop:all_product' %}"
            >Products</a
          >
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop:dboard' %}"
              >Dashboard</a
            >
          </li>
        {% endif %}
        {% if user.is_active %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop:register' %}"
              >Profile</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop:signout' %}"
              >Logout</a
            >
          </li>
        {% else %}
          {% comment %} <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop:register' %}"
              >Register</a
            >
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop:signin' %}"
              >Login</a
            >
          </li>
        {% endif %}
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons d-flex justify-content-end align-items-center">
        <li class="nav-item d-flex justify-content-center align-items-center">
          <div class="" title="cart items">
            <a
              href="{%url 'shop:order-summary'%}"
              class="nav-link waves-effect"
            >
              <i class="fas fa-shopping-cart"></i>
              <span class="badge red z-depth-1 mr-1">
                {{ object_list.count }}
              </span>
              <span class="clearfix d-none d-sm-inline-block"> </span>
            </a>
          </div>
          <div class="" title="favourites items">
            <a href="{% url 'shop:favourites' %}" class="product-wishlist-btn"
              ><i class="fas fa-heart"></i
            ></a>
          </div>
        </li>
        {% comment %}
        < li class="nav-item">
          <a
            href="https://www.facebook.com/mdbootstrap"
            class="nav-link waves-effect"
            target="_blank"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
        </>
        <li class="nav-item">
          <a
            href="https://twitter.com/MDBootstrap"
            class="nav-link waves-effect"
            target="_blank"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li> {% endcomment %}
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
